* {
  background-color: black;
  color: white;
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
}

li:hover {
  /* background-color: rgba(255, 0, 183, 0.407); */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 40px rgba(255, 0, 183, 0.565);
  border-radius: 8px;
  /* margin: 3px; */
}

@media (min-width: 1110px) and (max-width: 10000px) {
  #logo-name {
    font-weight: 500;
  }
  #projects-logo {
    width: 28px;
    height: 28px;
  }

  #main-logo {
    width: 28px;
    height: 28px;
    margin: 2px;
  }
  #skills-logo,
  #experience-logo,
  #education-logo {
    display: block;
    width: 25px;
    height: 25px;
  }
  #resume-logo {
    display: block;
    width: 22px;
    height: 22px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    min-height: 8vh;
    margin-bottom: 10px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
  li {
    text-decoration: none;
    padding: 8px;
    border-radius: 50px;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
  body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    /* margin-top: 5px; */
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    height: 80vh;
  }
  h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  .card-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }
  .card {
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(255, 0, 183, 0.372);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50vw;
  }

  h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 5px;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    margin-bottom: 10px;
  }
  .course-name {
    font-weight: 200;
  }
  .subjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 5px;
    font-size: 18px;
    padding-top: 6px;
  }
  .subjects p {
    margin: 2px;
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 20px;
    padding: 7px 17px 7px 17px;
  }
  #score-logo {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  img {
    width: 22px;
    height: 22px;
  }
  .score,
  .location,
  .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    margin: 5px;
    padding-top: 13px;
    border-top: 1px solid rgba(162, 162, 162, 0.31);
  }
  .time {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.31);
  }
}

@media (min-width: 600px) and (max-width: 1110px) {
  #logo-name {
    font-weight: 500;
  }
  #projects-logo {
    width: 18px;
    height: 18px;
  }
  #main-logo {
    width: 18px;
    height: 18px;
  }
  #skills-logo,
  #experience-logo,
  #education-logo {
    display: block;
    width: 15px;
    height: 15px;
  }
  #resume-logo {
    display: block;
    width: 13px;
    height: 13px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    min-height: 10vh;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 9px;
  }
  li {
    text-decoration: none;
    padding: 8px;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 12px;
  }
  body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    /* margin-top: 5px; */
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
  }
  h1 {
    margin-bottom: 10px;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .card {
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 183, 0.372);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 70vw;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
  }
  h2 {
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    margin-bottom: 10px;
  }
  .course-name {
    font-weight: 200;
  }
  .subjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 5px;
    font-size: 13px;
    padding-top: 6px;
  }
  .subjects p {
    margin: 2px;
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 15px;
    padding: 6px 12px 6px 12px;
  }
  #score-logo {
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }

  img {
    width: 18px;
    height: 18px;
  }
  .score,
  .location,
  .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    margin: 5px;
    padding-top: 13px;
    border-top: 1px solid rgba(162, 162, 162, 0.31);
  }
  .time {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.31);
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  #logo-name {
    font-weight: 500;
  }
  .nav img {
    display: none;
  }
  #main-logo {
    display: block;
    width: 15px;
    height: 15px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 6px;
    min-height: 6vh;
    margin-bottom: 10px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  li {
    text-decoration: none;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 9px;
  }
  body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    /* margin-top: 5px; */
    max-width: 80vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 80vh;
  }
  h1 {
    margin-bottom: 10px;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .card {
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 183, 0.372);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 70vw;
  }
  h3 {
    font-size: 17px;
    font-weight: 400;
    margin: 5px;
  }
  h2 {
    font-size: 10px;
    font-weight: 600;
    margin: 5px;
    margin-bottom: 10px;
  }
  .course-name {
    font-weight: 200;
  }
  .subjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    gap: 5px;
    font-size: 10px;
    padding-top: 6px;
  }
  .subjects p {
    margin: 2px;
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
  }
  #score-logo {
    width: 12px;
    height: 12px;
  }

  img {
    width: 15px;
    height: 15px;
  }
  .score,
  .location,
  .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    margin: 5px;
    padding-top: 10px;
    border-top: 1px solid rgba(162, 162, 162, 0.31);
  }
  .time {
    border-bottom: 1px solid rgba(162, 162, 162, 0.31);
    padding-bottom: 8px;
  }
}
