* {
  background-color: black;
  color: white;
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
}
:root {
  --hover-color: rgba(255, 0, 183, 0.565);
}

li:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 40px var(--hover-color);
  border-radius: 8px;
}

.skill-item {
  margin: 2px;
  border: 1px solid rgba(162, 162, 162, 0.31);
  border-radius: 20px;
  padding: 7px 17px 7px 17px;
  box-shadow: 0 0 10px rgba(255, 0, 183, 0.372);
}

/* Styles for the skills section */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* padding: 20px; */
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(255, 0, 183, 0.2);
  /* gap: 30px; */
}

.skills h1 {
  /* font-size: 2.5rem; */
  color: #fff;
  text-align: center;
  /* margin-bottom: 20px; */
}

.skill-category {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.skill-category h2 {
  /* font-size: 1.75rem; */
  color: #f4f4f4;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 300;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
  justify-items: center;
}

/* Hover-specific colors */
.skill-item.java:hover {
  background-color: #b07219;
  color: #fff;
}
.skill-item.py:hover {
  background-color: #306998;
  color: #fff;
}
.skill-item.rust:hover {
  background-color: #dea584;
  color: #000;
}
.skill-item.c:hover {
  background-color: #555555;
  color: #fff;
}
.skill-item.js:hover {
  background-color: #f7df1e;
  color: #000;
}

.skill-item.react:hover {
  background-color: #61dafb;
  color: #000;
}
.skill-item.html:hover {
  background-color: #e34c26;
  color: #fff;
}
.skill-item.css:hover {
  background-color: #264de4;
  color: #fff;
}
.skill-item.tcss:hover {
  background-color: #38bdf8;
  color: #000;
}

.skill-item.node:hover {
  background-color: #3c873a;
  color: #fff;
}
.skill-item.exp:hover {
  background-color: #343434;
  color: #fff;
}

.skill-item.mdb:hover {
  background-color: #47a248;
  color: #fff;
}
.skill-item.psql:hover {
  background-color: #336791;
  color: #fff;
}
.skill-item.mysql:hover {
  background-color: #00758f;
  color: #fff;
}
.skill-item.prisma:hover {
  background-color: #0c344b;
  color: #fff;
}

.skill-item.sol:hover {
  background-color: #363636;
  color: #fff;
}
.skill-item.eth:hover {
  background-color: #3c3c3d;
  color: #fff;
}
.skill-item.hh:hover {
  background-color: #f0abfc;
  color: #000;
}
.skill-item.ethjs:hover {
  background-color: #6c47ff;
  color: #fff;
}

.skill-item.dock:hover {
  background-color: #0db7ed;
  color: #000;
}
.skill-item.kub:hover {
  background-color: #326ce5;
  color: #fff;
}
.skill-item.aws:hover {
  background-color: #ff9900;
  color: #000;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-item {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

/* Add staggered delay using nth-child */
.skills-list .skill-item:nth-child(1) {
  animation-delay: 0.1s;
}
.skills-list .skill-item:nth-child(2) {
  animation-delay: 0.2s;
}
.skills-list .skill-item:nth-child(3) {
  animation-delay: 0.3s;
}
.skills-list .skill-item:nth-child(4) {
  animation-delay: 0.4s;
}
.skills-list .skill-item:nth-child(5) {
  animation-delay: 0.5s;
}

@media (min-width: 1110px) and (max-width: 10000px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #logo-name {
    font-weight: 500;
  }
  #projects-logo {
    width: 28px;
    height: 28px;
  }

  #main-logo {
    width: 28px;
    height: 28px;
    margin: 2px;
  }
  #skills-logo,
  #experience-logo,
  #education-logo {
    display: block;
    width: 25px;
    height: 25px;
  }
  #resume-logo {
    display: block;
    width: 22px;
    height: 22px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    min-height: 8vh;
    margin-bottom: 10px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
  li {
    text-decoration: none;
    padding: 8px;
    border-radius: 50px;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    margin-top: 20px;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }
  h1 {
    font-size: 50px;
  }
  .main {
    margin-top: 20px;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }
  h1 {
    font-size: 50px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 95nw;
  }

  .skill-category {
    margin-bottom: 28px;
    gap: 10px;
  }

  .skill-category h2 {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #555;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* justify-content: center; */
  }

  .skill-item {
    font-size: 1rem;
  }

  .skill-item {
    margin: 2px;
    border: 1px solid rgba(162, 162, 162, 0.31);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
  }
}

@media (min-width: 600px) and (max-width: 1110px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #logo-name {
    font-weight: 500;
  }
  #projects-logo {
    width: 18px;
    height: 18px;
  }
  #main-logo {
    width: 18px;
    height: 18px;
  }
  #skills-logo,
  #experience-logo,
  #education-logo {
    display: block;
    width: 15px;
    height: 15px;
  }
  #resume-logo {
    display: block;
    width: 13px;
    height: 13px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    min-height: 10vh;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 9px;
  }
  li {
    text-decoration: none;
    padding: 8px;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 12px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  h1 {
    font-size: 40px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 95nw;
  }

  .skill-category {
    margin-bottom: 15px;
    gap: 10px;
  }

  .skill-category h2 {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    color: #555;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .skill-item {
    font-size: 0.8rem;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #logo-name {
    font-weight: 500;
  }
  .nav img {
    display: none;
  }
  #main-logo {
    display: block;
    width: 15px;
    height: 15px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    gap: 6px;
    min-height: 6vh;
    margin-bottom: 10px;
  }
  ul,
  li {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2px;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  li {
    text-decoration: none;
  }
  .nav li,
  a {
    text-decoration: none;
    font-size: 9px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    text-align: center;
    min-height: 89vh;
    max-width: 95vw;
  }
  h1 {
    margin-bottom: 10px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 95nw;
  }

  .skill-category {
    margin-bottom: 15px;
    gap: 10px;
  }

  .skill-category h2 {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #555;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .skill-item {
    font-size: 0.7rem;
  }
}
